body {
  background-color: #ccc;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  width: 300px;
  max-width: 300px;

  margin: 0 auto;

  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
 font-size: 18px;
}

form {
  overflow: hidden;
}

input {
  width: 200px;
  padding: 6px;
  border-radius: 4px;
  margin-right: 14px;
  border: none;

  overflow: hidden;
  
}

h2 {
  font-size: 14px;
}

p {
  font-size: 12px;
}

button {
  margin-right: 8px;
  width: 100px;
  height: 27px;

  border-radius: 4px;
  border: none;
  cursor: pointer;

  margin-top: 8px;
}

button:hover {
  background-color: rgb(231, 231, 231);
}

.initialButtons input::placeholder {
  font-weight: bold;
  padding-left: 4px;
  font-style: italic;
}

.initialButtons input {
  font-weight: bold;
}